/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/build/*
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
*.log
.navigation/
# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/